body{
    margin:0;
}
.main-div{
    width:100%;
    height:100%;
    background-color:#060605;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;

}
#title-card{
    margin:0;
    width:100%;
    height: 0%;
    display: flex;
    justify-content: center;
}
#name{
    color: #fff;
}
.calculator{
    width:220px;
    background-color: #ccc;
    border-radius:10px;
    padding:15px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
h1{
    color: #000;
}
#display{
    width: 100%;
    padding: 10px;   
    margin-bottom:5%;
    border:1px solid black;
    background-color: #312f2f;
    color:#fff;
    
}
.btn{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 0;
    font-size:15px;
    margin-bottom: 5%;
}
